.pagina-registro{
    border: solid black 1px;
    height: 92vh;
    width: 100vw;
    display: flex;
}
.pagina-registro .container{
    border: solid black 1px;
    padding: 0;
    width: 80%;
}
.pagina-registro .container .row{
    border: solid black 1px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.pagina-registro .container .row .col{
    border: solid black 1px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}